[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->

  <div class="navbar">
    <!-- Links to the other pages -->
    <div>
      <a href="[[=URL('my_checklists')]]">My Checklists</a> <!-- Link to checklist page/controller-->
      <a href="[[=URL('user_stats')]]">Sighting Statistics</a> <!-- Link to user stats page/controller-->
    </div>
    <!-- Species searchbar -->
    <div>
      <input type="text" id="species-searchbar" placeholder="Select species..." autocomplete="off">
    </div>
  </div>

  <h1 class="title"><i class="fa-solid fa-cube"></i> Title</h1>
  <p>Content: my_value: {{my_value}} </p>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_species_url = "[[=XML(get_species_url)]]";
  let add_checklist_url = "[[=XML(add_checklist_url)]]";
  let my_checklists_url = "[[=XML(add_checklist_url)]]";
  let user_stats_url = "[[=XML(user_stats_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
