[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
#graph {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.species {
    max-height: 40vh;
    overflow:scroll; 
}

</style>

<div id="app" class="section" v-cloak >
    <h1 class="title is-3">Region Information</h1>
    <div>
        <div class="columns is-clipped">
            <div class="column is-one-third">
                <div class="box">
                    <h2 class="title is-5">Species</h2>
                    <div class="select">
                        <select v-model="query" @change="showGraph()">
                            <option :value="i.name" v-for="i in species">
                                {{i.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="box">
                    <div class="table-container">
                        <h2 class="title is-5">Top Contributors</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Contributor</th>
                                    <th>Contributions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="contributor in topContributors">
                                    <td>{{contributor.name}}</td>
                                    <td>{{contributor.contributions}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        

        <div id="graph"></div>
</div>

[[block page_scripts]]
<script>
    let get_region_stats_url = "[[=XML(get_region_stats_url)]]";
    let get_species_stats_url = "[[=XML(get_species_stats_url)]]";
</script>  
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="js/location.js"></script>
<script>
    (g => {
      var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set(),
        e = new URLSearchParams(),
        u = () => h || (h = new Promise(async (f, n) => {
          await (a = m.createElement("script"));
          e.set("libraries", [...r, "drawing"].join(","));
          for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
          e.set("callback", c + ".maps." + q);
          a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
          d[q] = f;
          a.onerror = () => h = n(Error(p + " could not load."));
          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
          m.head.append(a);
        }));
      d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n));
    })({
      key: "***REDACTED***",
      v: "weekly",
    });
</script>
[[end]]
